In [1]:
import pandas as pd

In [4]:
path = "./parquet_files/"
df = pd.read_parquet(path + "2022-07-01_performance_mobile_tiles.parquet")
df.head()

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0022133222330032,"POLYGON((-160.037841796875 70.6363054807905, -...",4774,13998,318,1,1
1,0022133222330201,"POLYGON((-160.043334960938 70.6344840663086, -...",1426,23038,160,1,1
2,0022133222330210,"POLYGON((-160.037841796875 70.6344840663086, -...",3830,19871,204,1,1
3,0022133222330232,"POLYGON((-160.037841796875 70.6290188342897, -...",1208,8722,109,2,1
4,0022332203013331,"POLYGON((-162.603149414062 66.8999063523575, -...",3817,1963,48,1,1

In [5]:
df['tile'].head()

0    POLYGON((-160.037841796875 70.6363054807905, -...
1    POLYGON((-160.043334960938 70.6344840663086, -...
2    POLYGON((-160.037841796875 70.6344840663086, -...
3    POLYGON((-160.037841796875 70.6290188342897, -...
4    POLYGON((-162.603149414062 66.8999063523575, -...
Name: tile, dtype: object

In [8]:
import shapely

In [13]:
from shapely.wkt import loads

# Your WKT polygon representation
wkt_polygon = "POLYGON((120.250854492188 17.9107958349785, 120.25634765625 17.9107958349785, 120.25634765625 17.9055688119647, 120.250854492188 17.9055688119647, 120.250854492188 17.9107958349785))"

# Parse the WKT polygon
polygon = loads(wkt_polygon)

# Extract the coordinates
coordinates = list(polygon.exterior.coords)[0]

longitude, latitude = coordinates
print(type(longitude), latitude)
# Print the coordinates
# for coord in coordinates:
#     longitude, latitude = coord
#     print(f"Latitude: {latitude}, Longitude: {longitude}")

<class 'float'> 17.9107958349785

In [1]:
import reverse_geocoder as rg

In [2]:
coordinates = (51.5214588,-0.1729636),(9.936033, 76.259952),(37.38605,-122.08385)

results = rg.search(coordinates)

Loading formatted geocoded file...

In [3]:
print(results)

[{'lat': '51.51116', 'lon': '-0.18426', 'name': 'Bayswater', 'admin1': 'England', 'admin2': 'Greater London', 'cc': 'GB'}, {'lat': '9.93988', 'lon': '76.26022', 'name': 'Cochin', 'admin1': 'Kerala', 'admin2': 'Ernakulam', 'cc': 'IN'}, {'lat': '37.38605', 'lon': '-122.08385', 'name': 'Mountain View', 'admin1': 'California', 'admin2': 'Santa Clara County', 'cc': 'US'}]

In [5]:
coordinates = (20.7920661008256,121.83837890625)
results = rg.search(coordinates)
print(results)

[{'lat': '20.78733', 'lon': '121.84177', 'name': 'Itbayat', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}]