In [1]:
import pandas as pd

In [4]:
path = "./parquet_files/"
df = pd.read_parquet(path + "2023-04-01_performance_mobile_tiles.parquet")
df = df.head()

In [7]:
from shapely.wkt import loads
def get_coordinates(wkt_polygon):

    # Parse the WKT polygon
    polygon = loads(wkt_polygon)

    # Extract the coordinates
    coordinates = list(polygon.exterior.coords)[0]
    longitude, latitude = coordinates

    return longitude, latitude

df['tile_x'] = df.apply(lambda row:
                                        get_coordinates(row['tile']), axis=1)

In [8]:
print(df['tile_x'])

0    (-160.043334960938, 70.6363054807905)
1    (-163.009643554688, 69.7428461351394)
2    (-162.603149414062, 66.8999063523575)
3    (-162.603149414062, 66.8977510769183)
4    (-162.603149414062, 66.8955956114071)
Name: tile_x, dtype: object

In [5]:
df['tile'].head()

0    POLYGON((-160.037841796875 70.6363054807905, -...
1    POLYGON((-160.043334960938 70.6344840663086, -...
2    POLYGON((-160.037841796875 70.6344840663086, -...
3    POLYGON((-160.037841796875 70.6290188342897, -...
4    POLYGON((-162.603149414062 66.8999063523575, -...
Name: tile, dtype: object

In [8]:
import shapely

In [13]:
from shapely.wkt import loads

# Your WKT polygon representation
wkt_polygon = "POLYGON((120.250854492188 17.9107958349785, 120.25634765625 17.9107958349785, 120.25634765625 17.9055688119647, 120.250854492188 17.9055688119647, 120.250854492188 17.9107958349785))"

# Parse the WKT polygon
polygon = loads(wkt_polygon)

# Extract the coordinates
coordinates = list(polygon.exterior.coords)[0]

longitude, latitude = coordinates
print(type(longitude), latitude)
# Print the coordinates
# for coord in coordinates:
#     longitude, latitude = coord
#     print(f"Latitude: {latitude}, Longitude: {longitude}")

<class 'float'> 17.9107958349785

In [1]:
import reverse_geocoder as rg

In [2]:
coordinates = (51.5214588,-0.1729636),(9.936033, 76.259952),(37.38605,-122.08385)

results = rg.search(coordinates)

Loading formatted geocoded file...

In [3]:
print(results)

[{'lat': '51.51116', 'lon': '-0.18426', 'name': 'Bayswater', 'admin1': 'England', 'admin2': 'Greater London', 'cc': 'GB'}, {'lat': '9.93988', 'lon': '76.26022', 'name': 'Cochin', 'admin1': 'Kerala', 'admin2': 'Ernakulam', 'cc': 'IN'}, {'lat': '37.38605', 'lon': '-122.08385', 'name': 'Mountain View', 'admin1': 'California', 'admin2': 'Santa Clara County', 'cc': 'US'}]

In [21]:
coordinates = [(20.7920661008256,121.83837890625),(51.5214588,-0.1729636)]
results = rg.search(coordinates)
admin2_list = [item['admin2'] for item in results]
print(admin2_list)

['Province of Batanes', 'Greater London']

In [11]:
coordinates = (51.5214588,-0.1729636),(9.936033, 76.259952),(37.38605,-122.08385)
print(type(coordinates))

<class 'tuple'>

In [27]:
import pandas as pd
df = pd.read_csv("./raw_csv_files/2023-01-01_performance_mobile_tiles/batch_no_1.csv")

df = df.head()

In [28]:
def tuplemaker(lat, long):
    return lat, long

df['input'] = df.apply(lambda row: tuplemaker(
                    row['tile_y'], row['tile_x']), axis=1)

print(df['input'])

0     (20.7920661008256, 121.83837890625)
1     (20.7869305925703, 121.83837890625)
2    (20.4578961550468, 121.964721679688)
3    (20.4527493625349, 121.964721679688)
4     (20.4578961550468, 121.97021484375)
Name: input, dtype: object

In [33]:
admin_tuples = df['input'].apply(lambda x: (x)).tolist()
print(admin_tuples)

[(20.7920661008256, 121.83837890625), (20.7869305925703, 121.83837890625), (20.4578961550468, 121.964721679688), (20.4527493625349, 121.964721679688), (20.4578961550468, 121.97021484375)]

In [34]:
admin_raw = rg.search(admin_tuples)
print(admin_raw)

[{'lat': '20.78733', 'lon': '121.84177', 'name': 'Itbayat', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.78733', 'lon': '121.84177', 'name': 'Itbayat', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.44865', 'lon': '121.97017', 'name': 'Basco', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.44865', 'lon': '121.97017', 'name': 'Basco', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.44865', 'lon': '121.97017', 'name': 'Basco', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}]

In [36]:
admin_1_list = [item['admin1'] for item in admin_raw]
df['admin_1'] = admin_1_list

admin_2_list = [item['admin2'] for item in admin_raw]
df['admin_2'] = admin_2_list

In [37]:
print(df.head())

            quadkey                                               tile  \
0  1323011032300102  POLYGON((121.83837890625 20.7920661008256, 121...
1  1323011032300120  POLYGON((121.83837890625 20.7869305925703, 121...
2  1323011210311031  POLYGON((121.964721679688 20.4578961550468, 12...
3  1323011210311033  POLYGON((121.964721679688 20.4527493625349, 12...
4  1323011210311120  POLYGON((121.97021484375 20.4578961550468, 121...

   avg_d_kbps  avg_u_kbps  avg_lat_ms  avg_lat_down_ms  avg_lat_up_ms  tests  \
0       58721        8857          23              NaN          509.0      2
1       82534       12291          29            390.0          342.0      4
2       41644        4975         257           1104.0         1604.0     14
3       37967        5518          39            962.0         1268.0    109
4       12888        3087          26            436.0          560.0      2

   devices      tile_x     tile_y                                 input  \
0        2  121.838379  20.792066   (20.7920661008256, 121.83837890625)
1        1  121.838379  20.786931   (20.7869305925703, 121.83837890625)
2        8  121.964722  20.457896  (20.4578961550468, 121.964721679688)
3       26  121.964722  20.452749  (20.4527493625349, 121.964721679688)
4        1  121.970215  20.457896   (20.4578961550468, 121.97021484375)

          admin_1              admin_2
0  Cagayan Valley  Province of Batanes
1  Cagayan Valley  Province of Batanes
2  Cagayan Valley  Province of Batanes
3  Cagayan Valley  Province of Batanes
4  Cagayan Valley  Province of Batanes