In [2]:
import pandas as pd

In [32]:
path = "./parquet_files/"
df = pd.read_parquet(path + "2022-01-01_performance_mobile_tiles.parquet")
df = df.head()

In [33]:
print(df['tile_x'])

KeyError: 'tile_x'

In [34]:
from shapely.wkt import loads
def get_coordinates(wkt_polygon):

    # Parse the WKT polygon
    polygon = loads(wkt_polygon)

    # Extract the coordinates
    coordinates = list(polygon.exterior.coords)[0]
    longitude = coordinates[0]
    latitude = coordinates[1]
    
    return pd.Series({'tile_x': longitude, 'tile_y': latitude})

# df[['tile_x', 'tile_y']] = df.apply(lambda row:
#                                             get_coordinates(row['tile']), axis=1)

df[['tile_x', 'tile_y']] = df.apply(lambda row:
                                            get_coordinates(row['tile']), axis=1, result_type='expand')

                                    
# df['tile_x'] = df.apply(lambda row:
#                                         get_coordinates(row['tile']), axis=1)
print(df)

            quadkey                                               tile  \
0  0022133222312322  POLYGON((-160.02685546875 70.6435894914449, -1...
1  0022133222330023  POLYGON((-160.043334960938 70.6363054807905, -...
2  0022133222330032  POLYGON((-160.037841796875 70.6363054807905, -...
3  0022133222330100  POLYGON((-160.02685546875 70.6417687358462, -1...
4  0022133222330102  POLYGON((-160.02685546875 70.6399478155463, -1...

   avg_d_kbps  avg_u_kbps  avg_lat_ms  tests  devices      tile_x     tile_y
0       19110        7891          77      3        2 -160.026855  70.643589
1       21870       11875          83      2        1 -160.043335  70.636305
2       14157       14560          75     14        2 -160.037842  70.636305
3        5468        9886          83      1        1 -160.026855  70.641769
4       24311       16243          72      1        1 -160.026855  70.639948

In [5]:
df['tile'].head()

0    POLYGON((-160.037841796875 70.6363054807905, -...
1    POLYGON((-160.043334960938 70.6344840663086, -...
2    POLYGON((-160.037841796875 70.6344840663086, -...
3    POLYGON((-160.037841796875 70.6290188342897, -...
4    POLYGON((-162.603149414062 66.8999063523575, -...
Name: tile, dtype: object

In [8]:
import shapely

In [13]:
from shapely.wkt import loads

# Your WKT polygon representation
wkt_polygon = "POLYGON((120.250854492188 17.9107958349785, 120.25634765625 17.9107958349785, 120.25634765625 17.9055688119647, 120.250854492188 17.9055688119647, 120.250854492188 17.9107958349785))"

# Parse the WKT polygon
polygon = loads(wkt_polygon)

# Extract the coordinates
coordinates = list(polygon.exterior.coords)[0]

longitude, latitude = coordinates
print(type(longitude), latitude)
# Print the coordinates
# for coord in coordinates:
#     longitude, latitude = coord
#     print(f"Latitude: {latitude}, Longitude: {longitude}")

<class 'float'> 17.9107958349785

In [1]:
import reverse_geocoder as rg

In [2]:
coordinates = (51.5214588,-0.1729636),(9.936033, 76.259952),(37.38605,-122.08385)

results = rg.search(coordinates)

Loading formatted geocoded file...

In [3]:
print(results)

[{'lat': '51.51116', 'lon': '-0.18426', 'name': 'Bayswater', 'admin1': 'England', 'admin2': 'Greater London', 'cc': 'GB'}, {'lat': '9.93988', 'lon': '76.26022', 'name': 'Cochin', 'admin1': 'Kerala', 'admin2': 'Ernakulam', 'cc': 'IN'}, {'lat': '37.38605', 'lon': '-122.08385', 'name': 'Mountain View', 'admin1': 'California', 'admin2': 'Santa Clara County', 'cc': 'US'}]

In [21]:
coordinates = [(20.7920661008256,121.83837890625),(51.5214588,-0.1729636)]
results = rg.search(coordinates)
admin2_list = [item['admin2'] for item in results]
print(admin2_list)

['Province of Batanes', 'Greater London']

In [11]:
coordinates = (51.5214588,-0.1729636),(9.936033, 76.259952),(37.38605,-122.08385)
print(type(coordinates))

<class 'tuple'>

In [27]:
import pandas as pd
df = pd.read_csv("./raw_csv_files/2023-01-01_performance_mobile_tiles/batch_no_1.csv")

df = df.head()

In [28]:
def tuplemaker(lat, long):
    return lat, long

df['input'] = df.apply(lambda row: tuplemaker(
                    row['tile_y'], row['tile_x']), axis=1)

print(df['input'])

0     (20.7920661008256, 121.83837890625)
1     (20.7869305925703, 121.83837890625)
2    (20.4578961550468, 121.964721679688)
3    (20.4527493625349, 121.964721679688)
4     (20.4578961550468, 121.97021484375)
Name: input, dtype: object

In [33]:
admin_tuples = df['input'].apply(lambda x: (x)).tolist()
print(admin_tuples)

[(20.7920661008256, 121.83837890625), (20.7869305925703, 121.83837890625), (20.4578961550468, 121.964721679688), (20.4527493625349, 121.964721679688), (20.4578961550468, 121.97021484375)]

In [34]:
admin_raw = rg.search(admin_tuples)
print(admin_raw)

[{'lat': '20.78733', 'lon': '121.84177', 'name': 'Itbayat', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.78733', 'lon': '121.84177', 'name': 'Itbayat', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.44865', 'lon': '121.97017', 'name': 'Basco', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.44865', 'lon': '121.97017', 'name': 'Basco', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}, {'lat': '20.44865', 'lon': '121.97017', 'name': 'Basco', 'admin1': 'Cagayan Valley', 'admin2': 'Province of Batanes', 'cc': 'PH'}]

In [36]:
admin_1_list = [item['admin1'] for item in admin_raw]
df['admin_1'] = admin_1_list

admin_2_list = [item['admin2'] for item in admin_raw]
df['admin_2'] = admin_2_list

In [37]:
print(df.head())

            quadkey                                               tile  \
0  1323011032300102  POLYGON((121.83837890625 20.7920661008256, 121...
1  1323011032300120  POLYGON((121.83837890625 20.7869305925703, 121...
2  1323011210311031  POLYGON((121.964721679688 20.4578961550468, 12...
3  1323011210311033  POLYGON((121.964721679688 20.4527493625349, 12...
4  1323011210311120  POLYGON((121.97021484375 20.4578961550468, 121...

   avg_d_kbps  avg_u_kbps  avg_lat_ms  avg_lat_down_ms  avg_lat_up_ms  tests  \
0       58721        8857          23              NaN          509.0      2
1       82534       12291          29            390.0          342.0      4
2       41644        4975         257           1104.0         1604.0     14
3       37967        5518          39            962.0         1268.0    109
4       12888        3087          26            436.0          560.0      2

   devices      tile_x     tile_y                                 input  \
0        2  121.838379  20.792066   (20.7920661008256, 121.83837890625)
1        1  121.838379  20.786931   (20.7869305925703, 121.83837890625)
2        8  121.964722  20.457896  (20.4578961550468, 121.964721679688)
3       26  121.964722  20.452749  (20.4527493625349, 121.964721679688)
4        1  121.970215  20.457896   (20.4578961550468, 121.97021484375)

          admin_1              admin_2
0  Cagayan Valley  Province of Batanes
1  Cagayan Valley  Province of Batanes
2  Cagayan Valley  Province of Batanes
3  Cagayan Valley  Province of Batanes
4  Cagayan Valley  Province of Batanes

In [10]:
path = "./raw_csv_files/"
df = pd.read_csv(path + "2023-04-01_performance_mobile_tiles.csv")

In [11]:
print(df['devices'].sum())
print(df.head())

322114
            quadkey                                               tile  \
0  1323011032300102  POLYGON((121.83837890625 20.7920661008256, 121...
1  1323011032300120  POLYGON((121.83837890625 20.7869305925703, 121...
2  1323011210311011  POLYGON((121.964721679688 20.468189222641, 121...
3  1323011210311031  POLYGON((121.964721679688 20.4578961550468, 12...
4  1323011210311032  POLYGON((121.959228515625 20.4527493625349, 12...

     tile_x   tile_y  avg_d_kbps  avg_u_kbps  avg_lat_ms  avg_lat_down_ms  \
0  121.8411  20.7895       33469        7543          22            348.0
1  121.8411  20.7844       65676        9406         167            946.0
2  121.9675  20.4656       11288        2013         479           2162.0
3  121.9675  20.4553       38363         892          89            635.0
4  121.9620  20.4502       19029        2359        1043           1472.0

   avg_lat_up_ms  tests  devices
0          484.0      3        2
1         2009.0     17        8
2          956.0     11        3
3         1565.0      4        4
4         3099.0     15        3

In [8]:
t_df = pd.read_csv("test.csv")

In [9]:
print(t_df['devices'].sum())
print(t_df.head())

322114
   Unnamed: 0           quadkey  \
0           0  1323011032300102
1           1  1323011032300120
2           2  1323011210311011
3           3  1323011210311031
4           4  1323011210311032

                                                tile    tile_x   tile_y  \
0  POLYGON((121.83837890625 20.7920661008256, 121...  121.8411  20.7895
1  POLYGON((121.83837890625 20.7869305925703, 121...  121.8411  20.7844
2  POLYGON((121.964721679688 20.468189222641, 121...  121.9675  20.4656
3  POLYGON((121.964721679688 20.4578961550468, 12...  121.9675  20.4553
4  POLYGON((121.959228515625 20.4527493625349, 12...  121.9620  20.4502

   avg_d_kbps  avg_u_kbps  avg_lat_ms  avg_lat_down_ms  avg_lat_up_ms  tests  \
0       33469        7543          22            348.0          484.0      3
1       65676        9406         167            946.0         2009.0     17
2       11288        2013         479           2162.0          956.0     11
3       38363         892          89            635.0         1565.0      4
4       19029        2359        1043           1472.0         3099.0     15

   devices         admin_1              admin_2  \
0        2  Cagayan Valley  Province of Batanes
1        8  Cagayan Valley  Province of Batanes
2        3  Cagayan Valley  Province of Batanes
3        4  Cagayan Valley  Province of Batanes
4        3  Cagayan Valley  Province of Batanes

                                      input
0  (20.789499999999997, 121.84110000000001)
1  (20.784399999999998, 121.84110000000001)
2            (20.465600000000002, 121.9675)
3                       (20.4553, 121.9675)
4  (20.450200000000002, 121.96200000000002)

In [18]:
def checker(x,y):
    if x == y:
        return "G"
    else:
        return "X"
    
t_df['qtest'] = df['quadkey']
t_df['checker'] = t_df.apply(lambda row: checker(row['qtest'], row['quadkey']), axis=1)

audit_df = t_df[t_df['checker'] == "X"]
print(len(audit_df))
print(audit_df.head())

0
Empty DataFrame
Columns: [Unnamed: 0, quadkey, tile, tile_x, tile_y, avg_d_kbps, avg_u_kbps, avg_lat_ms, avg_lat_down_ms, avg_lat_up_ms, tests, devices, admin_1, admin_2, input, qtest, checker]
Index: []

In [19]:
print(t_df['quadkey'].nunique)

<bound method IndexOpsMixin.nunique of 0        1323011032300102
1        1323011032300120
2        1323011210311011
3        1323011210311031
4        1323011210311032
               ...
52710    1323320100310130
52711    1323320100310200
52712    1323320100310201
52713    1323320100310202
52714    1323320100312002
Name: quadkey, Length: 52715, dtype: int64>

In [20]:
file = "2023-01-01_performance_mobile_tiles/batch_no_1.csv"

def label_data_rows(df: pd.DataFrame, file):
    cover_date = file.split("_")[0]
    df['date'] = pd.Timestamp(cover_date)
    return df

df = pd.read_csv(path + "2023-04-01_performance_mobile_tiles.csv")
df = label_data_rows(df, file)
print(df.head())

            quadkey                                               tile  \
0  1323011032300102  POLYGON((121.83837890625 20.7920661008256, 121...
1  1323011032300120  POLYGON((121.83837890625 20.7869305925703, 121...
2  1323011210311011  POLYGON((121.964721679688 20.468189222641, 121...
3  1323011210311031  POLYGON((121.964721679688 20.4578961550468, 12...
4  1323011210311032  POLYGON((121.959228515625 20.4527493625349, 12...

     tile_x   tile_y  avg_d_kbps  avg_u_kbps  avg_lat_ms  avg_lat_down_ms  \
0  121.8411  20.7895       33469        7543          22            348.0
1  121.8411  20.7844       65676        9406         167            946.0
2  121.9675  20.4656       11288        2013         479           2162.0
3  121.9675  20.4553       38363         892          89            635.0
4  121.9620  20.4502       19029        2359        1043           1472.0

   avg_lat_up_ms  tests  devices       date
0          484.0      3        2 2023-01-01
1         2009.0     17        8 2023-01-01
2          956.0     11        3 2023-01-01
3         1565.0      4        4 2023-01-01
4         3099.0     15        3 2023-01-01

In [21]:
print(type(df['date']))

<class 'pandas.core.series.Series'>